<div class="container">
    <form #userForm='ngForm' (ngSubmit)="onSubmit(userForm)"> 
      <label for="fname" >First Name</label>
      <input  type="text" id="fname" name="firstname" placeholder="Your name.." ngModel>
      
     
      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name.." ngModel>
      <label for="country">Country</label>
      <select id="country" name="country" ngModel>
        <option value="australia">Australia</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option>
      </select>
      <label for="subject">Subject</label>
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px" ngModel></textarea>
     
    
  
      <label for="Address Line 1" >Address Line 1</label>
      <input  type="text" id="fname" name="address1" placeholder="Address Line 1" ngModel>
      <label for="Address Line 2">Address Line 2</label>
      <input  type="text" id="fname" name="address2" placeholder="Address Line 2" ngModel>
      
    
     
      <button  type="submit">Save</button>
    </form>
  </div>
